<!--Footer-->
<footer>
    <div class="container-footer">
        <div class="logo_footer">
          <img src="{{asset('images/logo/LOGOwhite.png')}}" alt="logo" width="200"></a></div>
        </div>
        <div class="nav-footer">
          <ul class="navbar">
              <li class="active"><a href="#">Accueil</a></li>
              <li><a href="#">Règle du jeux</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Statistiques du site</a></li>
              <li><a href="#">Admin</a></li>
      </ul>
  </div>
        </div>
  </div>
  <div class="copyright">
      <p class="copy" style="font-family: 'MedievalSharp', cursive;">© 2021 2021-2022 SAFIR NEZZAR - REMY GLEVEAU - LATGE JESSICA</p>
  </div>

</footer>
