<!--Footer-->
<div class="container-footer">
      <div class="logo">
        <img src="{{asset('images/logo/LOGOwhite.png')}}" alt="logo" width="200"></a></div>
      </div>
      <div class="nav-footer">
        <ul class="navbar">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Regle du jeux</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Statistiques du site</a></li>
            <li><a href="#">Admin</a></li>
    </ul>
</div>
      </div>
</div>
<div class="coyright">
    <p class="col-md-4 mb-0 text-muted">© 2021 2021-2022 SAFIR NEZZAR - REMY GLEVEAU - LATGE JESSICA</p>
</div>
