<!-- Partie Header-->
<header>
    <div id="head-container">
        <!-- RD Navbar Brand logo-->
            <div id="headerGD">
                <div id="headerG">
                    <img  id="img-logo"src="{{asset('images/logo/LOGOwhite.png')}}" alt="logo"></a></div>
                </div>

                <div id="headerD">
                    <ul id="menu">
                            <li id="active"><a href="#">Accueil</a></li>
                            <li><a href="#">Règle du jeux</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Statistiques du site</a></li>
                            <li><a href="#">Admin</a></li>
                    </ul>
                </div>
             
            </div>
               
            
    </div>

    <h1 id="h1" style="font-family: 'MedievalSharp', cursive;";>The Age Of Spirits</h1>
    <div id="subHead">
        <div id="button-headG">
                <button id="btn" type="button">Inscription</button>
        </div>
        <div id="button-headD">
                <button id="btn" type="button">Connexion</button>
         </div>
    </div>
    <p id="speach">The Age of Spirits est un jeu navigateur qui permet de créer son personnage dans le royaume de Bolateria et de choisir son camp pour combattre les humains ou les esprits</p>  
</header>
</html> 