<!-- Partie Header-->
<header class="head-container">
    <!-- RD Navbar Brand logo-->
        <div class="headerG-logo">
            <img src="{{asset('images/logo/LOGOwhite.png')}}" alt="logo" width="200"></a></div>
        </div>

        <div class="headerD">
            <!-- Navbar -->
            <ul class="navbar">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><a href="#">Regle du jeux</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Statistiques du site</a></li>
                    <li><a href="#">Admin</a></li>
            </ul>
        </div>
      
    </header>

    <h1 style="font-family:HollaScript";>The Age Of Spirits</h1>
    <div class="subHead">
        <div class="button-headG">
                <button class="btn" type="button">Inscription</button>
        </div>
        <div class="button-headD">
                <button class="btn" type="button">Connexion</button>
         </div>
    </div>
    <p class="speach">The Age of Spirits est un jeu navigateur qui permet de créer son personnage dans le royaume de Bolateria et de choisir son camp pour combattre les humains ou les esprits</p>


</html> 