

{% block title %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/stylesPreHome.css') }}"">
{% endblock %} 


{% block body %}
 
<button class="btn-preHome" type="button"><a href=" {{ path('home_page') }}">Entrez</a></button>
 
{% endblock %}
