

<<<<<<< HEAD


{% block title %}Pre Home Page{% endblock %}
=======
{% block title %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/stylesPreHome.css') }}"">
{% endblock %} 

>>>>>>> 0d871568157d3db7da4efdb096036f54f4514a6e

{% block body %}
 
<button class="btn-preHome" type="button"><a href=" {{ path('home_page') }}">Entrez</a></button>
 
{% endblock %}
