/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  @font-face {*/
/*    font-family: ;*/
/*    src: url();*/
/*  }*/
/*}*/

/*******HEADER*****/
/*html {*/
/*  font-size: 16px;*/
/*}*/

header {
  background-image: url(../images/fond/bg_head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 650px;*/
  width: 100%;
}
#head-container {
  width: 100%;
  padding: 20px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#img-logo {
  width: 100px;
}

#navbar-light .navbar-toggler {
  background-color: white;
  border-color: white;
}

#menu {
  display: flex;
  justify-content: end;
  list-style-type: none;
}

#menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-left: 70px;
}

#h1 {
  text-align: center;
  font-size: 80px;
  color: white;
  padding-top: 40px;
  margin-top: 50px;
}
img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

/*****SUBHEAD***/

#subHead {
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) {
  #subHead {
    display: flex;
  }
}

#btn-headG,
#btn-headD {
  display: flex;
  padding: 30px;
}

#btn-header-inscription, #btn-header-connexion {
  
  background: black;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
}

#speach {
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

/****FOOTER****/

footer {
  background-image: url(../images/fond/bgfooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#container-footer,
#nav-footer,
#copyright {
  width: 100%;
  padding: 20px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo_footer {
  padding-top: 20px;
}

#navbar li {
  padding: 10px;
  font-size: 25px;
}

#navbar {
  list-style-type: none;
  flex-direction: row-reverse;
}
#navbar a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  #navbar {
    display: flex;
  }
}

#copy {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

/**BODY HOMEPAGE*/

#container-body {
  background-color: #4d2913;
}
/**Container Histoire**/
#h2-histoire {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

/**Card Perso**/

#card-persos {
  background-color: #4d2913;
}

#card-img-perso, .card-img-top {
  background-color: #4d2913;
}

#h-100 {
  border: 0;
}

#card-title-perso {
  color: #d6bf55;
  background-color: #4d2913;
}

#card-body-perso {
  background-color: #4d2913 ;
}
/**Container Personnages**/

#h2-perso {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}
/**Detail card humain**/
#h3-perso-humain {
  color:#174f68;
}

#cardsgood {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/**Detail card esprit**/

#h3-perso-esprit {
  padding-bottom: 20px;
  color:tomato;
}

#cardsbad {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/**Illustratio**/

/**News**/

#h2-news-home {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#container-news-home {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-image: url(../images/fond/bgfooterblue.jpg);
}
#cards-news-home {
  margin: 40px 40px;
height: 420px;
width: 300px;
background-size: 100%;
background-image: url(../images/fond/parchemin.gif);
}

#news-home {
  font-family: "MedievalSharp", cursive;
  color: black;
  margin-left: 50px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: -10px;
}

/**Stats**/

#h2-stats-home {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#container-stats-home {
  background-image: url(../images/fond/castlebrown.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px;
}


#cards-stats-home {
  margin: 40px 40px;
  height: 420px;
  width: 300px;
  background-size: 100%;
  background-image: url(../images/fond/parchemin.gif);
}

#img-parchemin-stat {
  height: 500px;
  width: 500px;
  margin: 10 100px;
}

#stat-home {
  font-family: "MedievalSharp", cursive;
  color: black;
  margin-left: 50px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: -10px;
}

#classement-stat-home {
  color: black;
  margin-left: 41px;
  font-weight: 700;
  font-size: 25px;
}

#classement-stats-home {
  color: white;
}

#nbr-stat-home {
  color: black;
  margin-left: 41px;
  font-weight: 700;
  font-size: 25px;
}

/**contact*/
label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-contact {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-contact {
  background-color: #4d2913;
  font-size: 18px;
}
#p-contact {
  color: white;
  font-size: 20px;
}

#btn-send {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#contact-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Gestionnaire des utilisateurs**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-gestionnaire {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-gestionnaire {
  background-color: #4d2913;
  font-size: 18px;
}
#table-gestionnaire {
  color: white;
  font-size: 20px;
}

#btn-gestionnaire {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#gestionnaire-contact-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Gestion des contacts**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-gestionnaire-contact {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-gestionnaire-conctact {
  background-color: #4d2913;
  font-size: 18px;
}
#table-gestionnaire-contact {
  color: white;
  font-size: 20px;
}

#btn-gestionnaire-contact {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#gestionnaire-contact-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Espace Membre**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-espace-membre {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-espace-membre {
  background-color: #4d2913;
  font-size: 18px;
}
#p-espace-membre {
  color: white;
  font-size: 20px;
}

/**#btn-espace-membre {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}**/

#espace-membre-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Création Page**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-create-personnage {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-create-personnage {
  background-color: #4d2913;
  font-size: 18px;
}

#btn-create-personnage {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#create-personnage-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/***page règle du jeu***/
#body-regle {
  background-color: #4d2913;
  justify-content: center;
}
/**id regle**/
#h2-regle {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#card-bg {
  background-image: url(../images/fond/bg_rule.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: 100%;

  padding-bottom: 20px;
  padding-left: 30px;
}

#h3-regle {
  color: black;
  font-size: 18px;
  padding-top: 5px;
}

#text-regle {
  font-family: "MedievalSharp", cursive;
  padding-left: 5px;
  font-size: 10px;
}
#containerBodyRegle {
  justify-content: center;
}
@media (min-width: 768px) {
  #h3-regle {
    font-size: 22px;
    padding-top: 20px;
    padding-left: 5px;
  }

  #text-regle {
    font-size: 18px;
    font-weight: 700;
  }

  #containerBodyRegle {
    max-width: 100%;
    height: auto;
  }
}
