header {
  background-image: url(../images/fond/bg_headerblue.jpg);
}

/****FOOTER****/

footer {
  background-image: url(../images/fond/bgfooterblue.jpg);
}

/******body******/
body {
  background-color: #174f68;
}

label {
  color: white;
}
.form-control, .form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-inscription {
  color: palegreen;
}
