* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/fond/bg-frontpage.jpg);
  font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

#btn-preHome {
  display: block;
  margin: 270px auto 0;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 500px;
  width: 8%;
}
@media (min-width: 760px) {
  #btn-preHome {
    top: 580px;
  }
}



a,
a:visited,
a:focus,
a:hover {
  color: white;
  text-decoration: none;
}
