/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  @font-face {*/
/*    font-family: ;*/
/*    src: url();*/
/*  }*/
/*}*/

/*******HEADER*****/
/*html {*/
/*  font-size: 16px;*/
/*}*/

header {
  background-image: url(../images/fond/bg_head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 650px;*/
  width: 100%;
}
#head-container {
  width: 100%;
  padding: 20px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#img-logo {
  width: 100px;
}

#menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#headerGD {
  display: flex;
}

#headerD {
  padding: 10px;

  align-items: center;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu li {
  padding: 20px;
  font-size: 25px;
}

#h1 {
  text-align: center;
  font-size: 80px;
  color: white;
  padding-top: 40px;
  margin-top: 50px;
}

/*****SUBHEAD***/

#subHead {
  width: 100%;
  display: flex;
  justify-content: center;
}

#button-headG,
#button-headD {
  display: flex;
  padding: 30px;
}

#btn {
  background: black;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
}

#speach {
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

/****FOOTER****/

footer {
  background-image: url(../images/fond/bgfooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#container-footer,
#nav-footer,
#copyright {
  width: 100%;
  padding: 20px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo_footer {
  padding-top: 20px;
}

#navbar li {
  padding: 10px;
  font-size: 25px;
}

#navbar {
  display: flex;
  list-style-type: none;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#copy {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

/**BODY HOMEPAGE*/

#container-body {
  background-color: #4d2913;
}
/**Container Histoire**/
#h2-histoire {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

/**Container Personnages**/
#container-perso {
  width: 1700px;
}

#h2-perso {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#cardgood {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/**contact*/
label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-contact {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-contact {
  background-color: #4d2913;
  font-size: 18px;
}
#p-contact {
  color: white;
  font-size: 20px;
}

#btn-send {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#contact-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Gestionnaire des utilisateurs**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-gestionnaire {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-gestionnaire {
  background-color: #4d2913;
  font-size: 18px;
}
#table-gestionnaire {
  color: white;
  font-size: 20px;
}

#btn-gestionnaire {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#gestionnaire-contact-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Gestion des contacts**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-gestionnaire-contact {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-gestionnaire-conctact {
  background-color: #4d2913;
  font-size: 18px;
}
#table-gestionnaire-contact {
  color: white;
  font-size: 20px;
}

#btn-gestionnaire-contact {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#gestionnaire-contact-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Espace Membre**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-espace-membre {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-espace-membre {
  background-color: #4d2913;
  font-size: 18px;
}
#p-espace-membre {
  color: white;
  font-size: 20px;
}

/**#btn-espace-membre {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}**/

#espace-membre-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

/**Création Page**/

label {
  color: white;
}
.form-control,
.form-control:focus {
  background-color: transparent;
  color: white;
}

#h1-create-personnage {
  color: #d6bf55;
  font-family: "MedievalSharp", cursive;
}

#bg-create-personnage {
  background-color: #4d2913;
  font-size: 18px;
}

#btn-create-personnage {
  background-color: #d6bf55;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
}

#create-personnage-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

