{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1>ESPACE ADMIN</h1>


    <ul>
        <li>Gestion des utilisateur <a href="{{path('user_gestion')}}">Voir</a></code></li>
        <li>Gestion des contacts<a href="{{path('contact_gestion')}}">Voir</a></li>
    </ul>

{% endblock %}
