{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1>Hello ✅</h1>


    <ul>
        <li>Gestion des utilisateur <a href="{{"user_gestion"}}">Voir</a></code></li>
        <li>Your template at<a href="{{"contact_gestion"}}">Voir</a></li>
    </ul>

{% endblock %}
