{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="message_erreur">{{  }}</div>
    {% endif %}

    <h1>Connexion</h1>


        <div class="pseudo">
            <label>Pseudo</label>
                <input type="text" value=""{{ last_pseudo }}" name="text" id="" class="" autocomplete="text" placeholder="Votre pseudo ici" required autofocus/><br><br>
        </div>
        <div class="mdpconnexion">
            <label>Mot de passe</label>
                <input type="password" value="" name="password" id="" class="" autocomplete="current-password" placeholder="Votre mot de passe ici" required/><br><br>
        </div>
        <div class="checkboxconnexion">
            <label>Se souvenir de mes identifiants de connexion</label>
                <input type="checkbox" name="_remember_login"/>
        </div><br><br>
            <button class="btn-connexion" type="submit">Connexion</button>
</form>
{% endblock %}